.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
}

.grid-item{
    height: 400px;
    background-size: cover;
    position: relative;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: linear 0.3s;

}

.overlay.hover{
    background-color:  hsl(0, 0%, 55%);
    opacity: 0.5;
    pointer-events: all;
}

.grid-item h3{
    color: white;
    font-size: 24px;
    width: 50%;
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-weight: 300;
    transition: linear 0.3s;
  }

  .grid-item h3.hover{
    color: hsl(0, 0%, 0%);
  }

@media screen and (max-width: 480px){

    .grid-container{
        grid-template-columns: 1fr;
    }

    .grid-item{
        height:200px;
        position: relative;
    }


}
/* background-size: 100% 100%; */