.loop-header{
    width: calc(100% - 200px);
    height: 450px;
    background-image: url(/src/images/desktop/image-hero.jpg);
    padding: 50px 100px;
    font-family: 'Alata', sans-serif;
}


@media screen and (max-width: 480px){
    .loop-header{
        width: 80%;
        height: 73vh;
        background-image: url(/src/images/mobile/image-hero.jpg);
        background-size: cover;
        padding: 30px 10%;
    }

}