nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(0, 0%, 100%);
}

.logo-div{
    font-size: 24px;
    font-weight: 700;
}


.nav-list{
    display: flex;
}

.nav-list__link{
    list-style-type: none;
    padding-left: 15px;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}

.nav-list__link::after{
    position: absolute;
    content: '';
    /* width: 20%; */
    border: 1px solid white;
    left: 50%;
    top: 17px;
    width: 0;
    opacity: 0;
    transition: ease-in all .3s;
}

.nav-list__link.hover::after{
    opacity: 1;
    width: 20%;
}

.burger-menu-logo{
    display: none;
}

.hamburger-div{
    display: none;
}

.close-div{
display: none;
}


@media screen and (max-width: 480px){
    .nav-container{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        background-color: black;
        height: 100vh;
        z-index: 100;
        transition: ease-in all .5s;
    }

    .nav-container.show{
        right: 0;
    }

    .hamburger-div{
        display: block;
    }

    .nav-list{
        flex-direction: column;
        position: absolute;
        top: 25%;
    }

    .nav-list__link{
        font-size: 24px;
        font-weight: 100;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .burger-menu-logo{
        display: block;
        position: absolute;
        top: 30px;
        left: 20px;
        font-size: 24px;
    }

    .close-div{
        display: block;
        position: absolute;
        top: 40px;
        right: 20px;
    }
    
}