.footer-links{
    width: 100%;
}

.footer-logo{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}

.footer-link__list{
    display: flex;
}

.footer-link__list li{
    padding: 0 20px;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif; 
}

.footer-link__list li:first-of-type{
    padding-left: 0;
}

@media screen and (max-width: 480px){

    .footer-logo{
        margin-bottom: 10px;
    }
    

    .footer-link__list{
        flex-direction: column;
    }
    .footer-link__list li:first-of-type{
        padding-left: 0;
    }

    .footer-link__list li{
        padding: 5px 0;
        list-style: none;
        font-family: 'Josefin Sans', sans-serif; 
    }
    
}