.footer-links{
    width: 100%;
}

.footer-logo{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}

.footer-link__list{
    display: flex;
}


@media screen and (max-width: 480px){

    .footer-logo{
        margin-bottom: 10px;
    }
    

    .footer-link__list{
        flex-direction: column;
    }
    
}